VITE_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_SOLANA_CLUSTER=devnet
VITE_SOLANA_RPC_URL=
VITE_ETH_CONTRACT_ADDRESS=0x53EF55468DF1570952b7A07eF46926c3837e5770
VITE_ETH_MILESTONE_CONTRACT_ADDRESS=0x50B8de29C8226a85c99b9679060A30a180277a1E
VITE_ETH_UNIFIED_CONTRACT_ADDRESS=0x4C6b83E06c9B7f83a029312eA9E3E00E7CBC6a5e
VITE_ETH_CROSS_MILESTONE_CONTRACT_ADDRESS=0x96132Dd1FFD9Ef26dbDEd95Dd4e3C2e220C21A4E
VITE_ETH_STABLE_CONTRACT_ADDRESS=0x8FA441B88BC346427E34baf5B1b1E09ed1700f3c
VITE_ETH_STABLE_V2_CONTRACT_ADDRESS=0xE3Ae8c1BF26e6bAfe7EDc5143Cd288B9DF4C1e40
VITE_ETH_STABLE_MILESTONE_CONTRACT_ADDRESS=0xB0c5218ef966c6EBfEedE21909595cC327267998
VITE_USDC_SEPOLIA_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
VITE_UNISWAP_SEPOLIA_SWAP_ROUTER_02=0x3bFA4769FB09eefC5a80d6E87c3B9C650f7Ae48E
VITE_UNISWAP_SEPOLIA_QUOTER_V2=0xEd1f6473345F45b75F8179591dd5bA1888cf2FB3
VITE_UNISWAP_SEPOLIA_WETH=0xfff9976782d46cc05630d1f6ebab18b2324d6b14
VITE_UNISWAP_SEPOLIA_WETH_USDC_FEE=3000
VITE_USDC_SOLANA_DEVNET_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
VITE_SPL_TOKEN_PROGRAM_ID=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
VITE_ASSOCIATED_TOKEN_PROGRAM_ID=ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL
VITE_SOLANA_PROGRAM_ID=9Q26M3XJE9pveumjKK4VxMfBu8EQXPnqHHTNXfSU5kEi
